@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: BlackerSansThin;
  src: url(/fonts/BlackerSansText-Thin.woff);
}
@font-face {
  font-family: BlackerSansBlack;
  src: url(/fonts/BlackerSansText-Black.woff);
}
:root {
  --bg-color: #27374d;
  --text-color: #a37d44;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-backdrop-filter: brightness(0.8);
          backdrop-filter: brightness(0.8);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

#activities .activity-items {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.font-SH {
  font-family: "Shrikhand", sans-serif, cursive;
}

.font-BST {
  font-family: BlackerSansThin, sans-serif, cursive;
  font-weight: bold;
}

.font-BSB {
  font-family: BlackerSansBlack, sans-serif, cursive;
}

.text-color-main {
  color: var(--text-color);
}

.section {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.section:last-of-type {
  margin-bottom: 0;
}

.opening-effect {
  -webkit-animation: openingEffect 750ms ease-out forwards;
          animation: openingEffect 750ms ease-out forwards;
}

.scroll-animation {
  opacity: 0;
  -webkit-transition: opacity 750ms;
  transition: opacity 750ms;
}

.scroll-animation-scrolled {
  opacity: 1;
  -webkit-animation: openingEffect 750ms ease-out both;
          animation: openingEffect 750ms ease-out both;
}

@-webkit-keyframes openingEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes openingEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .click-effect-object {
    display: none !important;
  }
}
.click-effect-arrow {
  display: block !important;
  -webkit-animation: arrowEffect 1.5s cubic-bezier(0, 0.25, 1, 0.75) infinite;
          animation: arrowEffect 1.5s cubic-bezier(0, 0.25, 1, 0.75) infinite;
}

@-webkit-keyframes arrowEffect {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrowEffect {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#specialText {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

#progressLine #mask {
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
}

@media (min-width: 1024px) {
  .section {
    margin: 0;
  }
  #specialText {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}