@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: BlackerSansThin;
  src: url(./fonts/BlackerSansText-Thin.woff);
}
@font-face {
  font-family: BlackerSansBlack;
  src: url(./fonts/BlackerSansText-Black.woff);
}
:root {
  --bg-color: #27374d;
  --text-color: #a37d44;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-backdrop-filter: brightness(0.8);
          backdrop-filter: brightness(0.8);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

.font-SH {
  font-family: "Shrikhand", sans-serif, cursive;
}

.font-BST {
  font-family: BlackerSansThin, sans-serif, cursive;
  font-weight: bold;
}

.font-BSB {
  font-family: BlackerSansBlack, sans-serif, cursive;
}

.text-color-main {
  color: var(--text-color);
}

.opening-effect {
  -webkit-animation: openingEffect 750ms ease-out forwards;
          animation: openingEffect 750ms ease-out forwards;
}

.scroll-animation {
  opacity: 0;
  -webkit-transition: opacity 750ms;
  transition: opacity 750ms;
}

.scroll-animation-scrolled {
  opacity: 1;
  -webkit-animation: openingEffect 750ms ease-out both;
          animation: openingEffect 750ms ease-out both;
}

@-webkit-keyframes openingEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes openingEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}